<form id="edit-member" action="/gym/members/<%= @member.id%>" method="post">
  <label for="first-name">First Name:</label>
  <input type="text" name="first_name" id="member-first-name" value="<%= @member.first_name %>">

  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name" id="member-last-name" value="<%= @member.last_name %>">

  <input type="submit" value="Update Details">

</form>
