<div class="container">

  <% @members.each do |member|  %>
  <a href="/gym/members/ <%=member.id %>"><div class="index">

  <p>Name: <%=member.pretty_name  %></p>

</div>
  <% end %>
</div></a>
<div class="add">
<p><a href="/gym/members/new">Add new member</a></p>
</div>
