<form id="new-member" action="/gym/members" method="post">

  <label for="first-name">First Name:</label>
  <input type="text" name="first_name" id="member-first-name">

  <label for="last-name">Last Name:</label>
  <input type="text" name="last_name" id="member-last-name">

  <label for="membership-type">Membership:</label>
  <select class="membership-drop-down" name="membership_id">
    <% @memberships.each do |membership| %>
    <option value="<%= membership.id %>"><%= membership.type %></option>
    <% end %>
  </select>

  <input type="submit" value="Add Member">

</form>
