<p><%= @member.pretty_name %> was successfully added to the following sessions</p>
<% @sessions.each do |session| %>
<p><%= session.type %>, Time: <%= session.start_time %>, Duration: <%= session.duration %> </p>
<% end %>
