<div class="container">

<% @memberships.each do |membership|  %>
<a href="/gym/memberships/ <%=membership.id %>"><div class="index">

<p>Membership: <%=membership.type  %></p>

</div></a>

<% end %>
</div>

<div class="link-button link-padding">  
<p><a href="/gym/memberships/new">Add new membership type</a></p>
</div>
