<form id="new-memberhip" action="/gym/memberships" method="post">

  <label for="type">Type:</label>
  <input type="text" name="type" id="membership-type">

  <label for="price">Price:</label>
  <input type="number" name="price" id="membership-price">

  <label for="access-hours">Access hours:</label>
  <input type="text" name="access_hours" id="membership-access">

  <input type="submit" value="Add Membership">

</form>
