<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>gym</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/gym">Home</a></li>
        <li><a href="/gym/members">Members</a></li>
        <li><a href="/gym/sessions">Sessions</a></li>
        <li><a href="/gym/memberships">Memberships</a></li>
      </ul>
    </nav>
    <div class="content">


    <%= yield %>

  </div>
  </body>
</html>
