<% @sessions.each do |session|  %>
<p>Type: <%=session.type  %></p>
<p>Start time: <%= session.start_time %></p>
<p>Duration: <%= session.duration %></p>
<p><a href="/gym/sessions/ <%=session.id %>">View Session</a></p>

<hr/>
<% end %>

<p><a href="/gym/sessions/new">Add new session</a></p>
