<div class="container">

<% @sessions.each do |session|  %>
  <a href="/gym/sessions/ <%=session.id %>"><div class="index">
    <p>Type: <%=session.type  %></p>
    <p>Start time: <%= session.start_time %></p>


    <p><a href="/gym/sessions/ <%= session.id%>/add">Add member to session</a></p>
</div>
  <!-- <hr/> -->
  <% end %>
</div></a>

<p><a href="/gym/sessions/new">Add new session</a></p>
